.link.active {
  color: aquamarine;
  font-weight: bold;
}

.cent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 150px;
  border: 2px solid #23bede;
  padding: 5px 20px;
  margin: 5px;
}